@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');

.conclusao-fundamentos {
    position: relative;
    overflow: hidden;
    color: #1A1A1A;
}

.conclusao-fundamentos::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url('kanji-ku-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    filter: blur(6px);
    transform: scale(1.1);
    /* evita bordas cortadas */
    opacity: 0.6;

    z-index: 0;
}

.conclusao-fundamentos>* {
    position: relative;
    z-index: 1;
}

.welcome-bg {
    background-image: url('tigre_logo.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    background-color: #F5F2E8;
    background-image:
        url('washi-fibers.jpg');
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #1A1A1A;
    font-family: 'Noto Serif JP', serif;
}

.japanese-bg {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><path fill="none" stroke="%23ef4444" stroke-width="0.5" d="M0,0 L100,100 M100,0 L0,100" opacity="0.1"/></svg>');
    background-size: cover;
}

.kanji-title {
    font-family: 'Noto Sans JP', sans-serif;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.wave-divider {
    height: 150px;
    overflow: hidden;
}

.wave-divider svg {
    height: 100%;
    width: 100%;
}

.wave-divider .shape-fill {
    fill: #1F2937;
}

.dojo-kun li:before {
    content: "•";
    color: #EF4444;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


@layer base {
    .font-brush {
        font-family: 'Yuji Syuku', cursive;
    }

    .font-kaushan {
        font-family: 'Kaushan Script', cursive;
    }

    .font-great {
        font-family: 'Great Vibes', cursive;
    }

    .font-yuji {
        font-family: 'Yuji Boku', cursive;
    }

}